.button {
    margin: auto;
    font-family: 'NaiveLineBlack';
    font-size: 1.875rem;
    color: white;
    background-color: #ff1d25;
    text-decoration: none;
    padding: 0.2em 1em;
}

.button--yellow {
    background-color: #ff931e;
}