.menu-preview {
  text-align: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3.5em;
  margin-bottom: -1.5em;
}

.menu__card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 0.2em solid black;
  width: 29em;
  height: 10em;
  margin: 0 0.7em;
}

.menu__frame {
  height: 15em;
}

.menu__item {
  font-family: 'PontiacRegular';
  font-size: 1.5em;
}

.menu__bottom {
  width: 20em;
}
