.cta {
    text-align: center;
    font-size: 1.5rem;
}

.cta-body {
    font-family: 'PontiacRegular';
    font-size: 1em;
    white-space: pre-wrap;
}

.cta-table {
    display: block;
    margin: 0 auto 2em;
    max-width: calc(100em / 3);
}

.cta-button {
    margin: auto;
    font-family: 'NaiveLineBlack';
    font-size: 1.25em;
    color: white;
    background-color: #ff1d25;
    text-decoration: none;
    padding: 0.2em 1em;
}
